page-plane {
    .adult-icon{
        font-size: 40px;
    }
    .child-icon{
        font-size: 35px;
    }
    .infant-icon{
        font-size: 30px;
    }

    .danger-toast{
        > div{
            background-color: #F44336!important;;
        }
    }
    .info-toast{
        > div{
            background-color: #03A9F4!important;;
            color: #424242!important;;
        }        
    }
    .default-toast{
        > div{
            background-color: #212121!important;;
        }
    }

    @keyframes showHide{
        from{display: none;}
        to{display: flex;}
    }

    .return-flight{
        animation-name: showHide;
        animation-duration: 5s;
    }


//date picker
    .layout-row{
        display: flex;
        flex-direction: row;
    }

    .layout-col{
        display:flex;
        flex-direction:column;
    }
    .horizontal-center{
        align-items:center;
    }

    .text-center{
        text-align: center;
    }

    .padding-5{
        padding:5px;
    }
    .padding-10{
        padding:10px;
    }
    .arrow{
        margin-left:10px;
        margin-right:10px;
    }

    .day-item-header{
        div{
            padding:10px;
            flex:1; 
            font-weight:bold;
        }
    }
    .day-item{
        flex:1;
        line-height:36px;
        min-height:36px;
    
    }
    .selected{
            background-color:#e0edff;
    }
    .disabled{
        color:#cfcfcf;
    }

    .dayofweek{
        font-size:1.5em;
    }
    .day{
        font-size:3em;
    }
    .month{
        font-size:1.5em;
    }
    .year{
        font-size:1.5em;
    }
    .month-year{
        font-size:1.3em;
        padding:10px;
    }
    .top-banner{
        background-color: #e53935 !important;
        color:white;
        width:100%;
        padding:10px;
        min-height:200px;
    }

    .calendar-item-container{
        width:100%;
        padding:5px;
        min-height:262px;
    }
}

calendar-page.my-class{

  ion-header{
    .toolbar-background-md,.toolbar-background-ios{
      background-color: #f53d3d;
    }
    .toolbar-title-md,.toolbar-title-ios{
      color: #fff;
    }
    .bar-button-clear-md,.bar-button-clear-ios{
      color: #fff;
    }
    .week-title{
      background-color: rgba(245, 61, 61, 0.64);
      color: #fff;
    }
  }
}
